@media screen and (max-width: 375px){
   .patern-svg-1 {
        display: none;
    }
    body {
        background-position: top -400px right -460px;
    }
    .header {
        display: grid;
        justify-content: start;
        margin-bottom: 155px;
        padding: 39px 0 0 24px;
    }
    .header-logo-svg {
        margin-bottom: 64px;
    }
    .header-h1 {
        font-size: 37px;
        line-height: 45px;
        letter-spacing: -0.454545px;
        max-width: 327px;
        min-height: 144px;
        padding: 0;
        margin-bottom: 20px;
    }
    .header-p {
        font-size: 16px;
        line-height: 26px;
        width: 95%;
    }
    .dark-cube {
        max-width: 100%;
        height: 600px;
        background-position-x: 30px;
        background-position-y: -10px;
    }
    .mobile {
        max-width: 208px;
        height: 430px;
        top: -90px;
        left: 22%;
    }
    .orange-cube {
        width: 100%;
        left: 0%;
        top: 410px;
        padding: 30px 32px 40px 30px;
    }
    .orange-cube-1 {
        width: 90%;
        font-weight: 400;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 12px;
    }
    .orange-cube-2 {
        font-size: 18px;
        line-height: 28px;
        padding-top: 0px;
        width: 99%;
        min-height: 140px;
        margin-bottom: 36px;
    }
    .orange-cube-3 {
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 32px;
        padding: 0;
    }
    .dolar {
        width: 79px;
    }
    .month {
        width: 70px;
    }
    .button-1 {
        max-width: 100%;
        margin-bottom: 12px;
    }
    .button-2 {
        max-width: 100%;
    }
    .footer {
        margin: 400px 40px 90px 40px;
        display: flex;
        flex-direction: column;
    }
    .footer-logo {
        width: 145px;
    }
    .footer-text {
        display: inline;
    }
    .pppp {
        max-width: 327px;
        min-height: 105px;
        font-size: 16px;
        line-height: 26px;
        margin-top: 30px;
        margin-bottom: 55px;
    }
    .footer-svg-container {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}
@media screen and (max-width: 285px) {
    .header {
        margin-bottom: 155px;
        padding: 39px 0 0 2px;
    }
    .header-h1 {
        font-size: 27px;
        line-height: 35px;
        max-width: 327px;
        min-height: 144px;
        padding: 0;
        margin-bottom: 10px;
    }
    .mobile {
        max-width: 208px;
        height: 430px;
        top: -90px;
        left: 0px;
    }
    .orange-cube {
        padding: 20px 12px 20px 12px;
    }
    .orange-cube-1 {
        width: 90%;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 12px;
    }
    .orange-cube-2 {
        padding-top: 0px;
        width: 90%;
        margin-bottom: 80px;
    }
    .orange-cube-3 {
        margin-top: 60px;
        margin-bottom: 12px;
    }
    .footer {
        margin: 430px 0 90px 2px;
    }
}